<section class="contact_section layout_padding">
  <div class="container">
    <div class="row">
      <div class="col-md-6 ">
        <div class="heading_container ">
          <h2 class="" key="contact_title">
            Contact Us
          </h2>
        </div>
        <form action="#">
          <div>
            <input type="text" key="placeholder_name" placeholder="Name" />
          </div>
          <div>
            <input type="email" key="placeholder_email" placeholder="Email" />
          </div>
          <div>
            <input type="text" key="placeholder_phone" placeholder="+99 8-- --- ----" data-mask="+00 000 000 0000"
              data-mask-selectonfocus="true" />
          </div>
          <div>
            <input type="text" key="placeholder_message" class="message-box" placeholder="Message" />
          </div>
          <div class="btn-box">
            <button key="send_request">
              SEND REQUEST
            </button>
          </div>
        </form>
      </div>
      <div class="col-md-6">
        <div class="img-box">
          <img src="/images/contact-img.png" alt="contact_img">
        </div>
      </div>
    </div>
  </div>
</section>