<div class="modal fade" id="auth_modal" tabindex="-1" role="dialog" aria-labelledby="auth_modal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body" style="padding: none !important;">

                <!-- Reset -->
                <div class="signin_form auth">
                    <form method="POST" action="/auth/reset" class="text-center border border-light">
                        <p class="h4 mb-4" style="color: #8a26ee;">Reset Password</p>

                        <div id="login-modal_here"></div>

                        <p>Please enter your email address. You will receive a link to create a new password via email.</p>

                        <input type="email" id="reset_email" name="email" class="form-control mb-4" placeholder="E-mail" required>

                        <button type="submit" class="btn btn-block my-4">Reset</button>

                    </form>
                </div>
                <!-- Reset -->

            </div>
            <!--<button data-dismiss="modal">Close</button>-->
        </div>
    </div>
</div>