<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Login Page</h2>
    <h2 class="success" style="display: block; border: 1px solid gray; text-align: center;">You are logged in as <%- username %> </h2>

    <p>Authenticated as <%- username %> click to <a href="/auth/logout">logout</a></p>
    <p>You may now access <a href="/auth/restricted">/restricted</a></p>

</body>
</html>